<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item" href="http://obrary.com" target="_blank"><img src="{{ site.github.project_title | prepend:'/' }}/public/Obrary_Logo.png" alt="Obrary.com" height="40"></a>
    <a class="sidebar-nav-item" href="http://obrary.com/collections/products" target="_blank">Store</a>
    <a class="sidebar-nav-item" href="http://obrary.com/collections/open-designs" target="_blank">Open Designs</a>
    <a class="sidebar-nav-item" href="http://obrary.com/manufacturer" target="_blank">Manufacturers</a>
    <a class="sidebar-nav-item" href="http://forums.obrary.com/" target="_blank">Forums</a>
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
