<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item" href="http://obrary.com">Obrary.com</a>
    <a class="sidebar-nav-item" href="http://obrary.com/collections/products">Store</a>
    <a class="sidebar-nav-item" href="http://obrary.com/collections/open-designs">Open Designs</a>
    <a class="sidebar-nav-item" href="http://obrary.com/manufacturer">Manufacturers</a>
    <a class="sidebar-nav-item" href="http://forums.obrary.com/">Forums</a>
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
